@model WebApplication1.Models.MyClassViewModels
@*@{
    Layout = null;
}*@

    <tr>
        <td>@Model.ID</td>
        <td>@Model.類別</td>
        <td>@Model.日期</td>
        <td>@Model.金額</td>
        <td>@Model.備註</td>
    </tr>



